@import '../../variables.scss';

.card__content {
  color: $rot_white;
}

.card__headline {
  align-items: flex-end;
  display: flex;
  padding-right: 15px;
}

.card__thumb {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-bottom: 8px;
  margin-right: 10px;
  width: 30px;
}

.card__thumb--up {
  background: $rot_green;
}

.card__thumb--down {
  background: $rot_orange;
}

.card__name {
  font-size: $font_xxl;
  font-weight: $font_regular;
  margin: 0;
  padding: 0;
}

.card__time-category {
  font-size: $font_xxs;
  font-weight: $font_regular;
  margin: 3px 0 0;
  padding-left: 40px;
}

.card__time {
  font-weight: $font_bold;
}

.card__body-copy {
  font-size: $font_r;
  font-weight: $font_light;
  padding-left: 40px;
}

.card__buttons {
  padding: 5px 0 32px 40px;
}
